@use '../../styles/settings/screens';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $check-shift-x: 1px;
  $check-shift-y: 5px;


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  @media screen and ( max-width: #{ screens.$mobile_resolution }px ) {
    .radio {
      &__helper {
        &:before {
          margin-left: $check-shift-x;
          margin-top: $check-shift-y;
        }
      }
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------