@use '../../styles/mixins/flex';
@use '../../styles/mixins/transition';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $background-size-x: 217px;
  $background-size-y: 82px;
  $value-1: 0%;
  $value-2: 1850px;
  $value-3: $value-2 * 2;
  $color-1: #ff8200;
  $color-2: #ffe631;
  $color-3: $color-1;
  $transition: .4s;

  $loader-size: 90px;
  $loader-weight: 10px;
  $loader-color: #fff;
  $loader-speed: 1.5s;


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  // Прелоадер
  .preloader {
    @include flex.init( row, nowrap, center, center );
    @include transition.many( opacity visibility, $transition );
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;


    // Вращающийся элемент
    &__loader {
      display: block; width: $loader-size; height: $loader-size;
      border: $loader-weight solid transparent; border-radius: 50%;
      border-top-color: $loader-color;
      animation: preloader_animation linear $loader-speed infinite;
    }


    // Скрытый прелоадер
    &.hidden { opacity: 0; visibility: hidden; }
  }


  // Главный блок приложения и прелоадер
  #all-content {
    background: linear-gradient( 180deg, $color-1 $value-1, $color-2 $value-2, $color-3 $value-3 ) left top repeat;
    position: relative; min-height: 100vh;

    // Наложение картинки сверху
    &:before {
      content: ''; position: absolute; top: 0; left: 0;
      display: block; width: 100%; height: 100%;
      background: scroll url( "../../images/patterns/main.png" ) center center repeat;
      background-size: $background-size-x $background-size-y;
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Правила анимации
//------------------------------------------------------------------------------------------------------------


  @keyframes preloader_animation {
    0% { transform: rotate( 0 ); }
    100% { transform: rotate( 360deg ); }
  }


//------------------------------------------------------------------------------------------------------------
// Правила анимации
//------------------------------------------------------------------------------------------------------------