@use '../functions/maps' as _maps;

@use '../mixins/box-sizing' as *;
@use '../mixins/flex';





//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------


  $font-size: 13px;
  $line-height: 16px;


//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Общие стили
//----------------------------------------------------------------------------------------------------------------------------------------


  * {
    &, &:before, &:after {
      @include box-sizing( border-box );
      outline: none; margin: 0; padding: 0; z-index: 1;
    }

    font-size: $font-size;
    line-height: $line-height;
  }


  html { overflow-y: scroll; overflow-x: hidden; position: static; }


  body, html, header, section { @include flex.width( 100%, auto, auto, none ); }


//----------------------------------------------------------------------------------------------------------------------------------------
// Общие стили
//----------------------------------------------------------------------------------------------------------------------------------------